body {
    text-align: center;
    background-color: white;
}
.none {
    display: none;
}

.container {
    /* border: 1px solid black; */
    width: fit-content;
    margin: 20% auto;
}

#start {
    border-radius: 10px;
    border-style: none;
    border: 1px solid black;
    color: white;
    background-color: black;
}

#start:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#guess {
    margin: 5px;
}